.collection {
  position: relative;
  display: flex;
  align-items: center;
  height: 5rem;
  padding: 1rem 1rem 1rem 6rem;
  background: var(--gray-200) no-repeat;
  background-size: contain;
  border-radius: .5rem;
  overflow: hidden;
  text-align: start;
  transition: background-color .25s ease, box-shadow .25s ease;
}

.collection-big {
  align-items: flex-start;
  height: auto;
  padding: calc(100% + 1rem) 1rem 1rem 1rem;
}

.collection-big > .collection-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.collection:focus {
  box-shadow: 0 0 0 3px var(--gray-400);
}

.collection-selected {
  background-color: var(--gray-300);
}

.collection-check {
  position: absolute;
  bottom: .5rem;
  right: .5rem;
  opacity: 0;
  transition: opacity .25s ease;
}

.collection-selected > .collection-check {
  opacity: 1;
}
