.container {
  width: calc(100% - 1rem);
  margin: 0 auto;
  padding: 0 1rem;
}

@media (min-width: 37.5rem) {
  .container {
    width: 36.5rem;
  }
}

@media (min-width: 56.25rem) {
  .container {
    width: 55.25rem;
  }
}

@media (min-width: 75rem) {
  .container {
    width: 74rem;
  }
}
