.column {
  display: none;
}

.column[class*="column-phone"] {
  display: inherit;
}

.column-phone-1 {
  grid-column: span 1;
}

.column-phone-2 {
  grid-column: span 2;
}

.column-phone-3 {
  grid-column: span 3;
}

.column-phone-4 {
  grid-column: span 4;
}

.column-phone-5 {
  grid-column: span 5;
}

.column-phone-6 {
  grid-column: span 6;
}

@media (min-width: 37.5rem) {
  .column[class*="column-tablet"] {
    display: inherit;
  }

  .column-tablet-1 {
    grid-column: span 1;
  }

  .column-tablet-2 {
    grid-column: span 2;
  }

  .column-tablet-3 {
    grid-column: span 3;
  }

  .column-tablet-4 {
    grid-column: span 4;
  }

  .column-tablet-5 {
    grid-column: span 5;
  }

  .column-tablet-6 {
    grid-column: span 6;
  }
}

@media (min-width: 56.25rem) {
  .column[class*="column-laptop"] {
    display: inherit;
  }

  .column-laptop-1 {
    grid-column: span 1;
  }

  .column-laptop-2 {
    grid-column: span 2;
  }

  .column-laptop-3 {
    grid-column: span 3;
  }

  .column-laptop-4 {
    grid-column: span 4;
  }

  .column-laptop-5 {
    grid-column: span 5;
  }

  .column-laptop-6 {
    grid-column: span 6;
  }
}

@media (min-width: 75rem) {
  .column[class*="column-desktop"] {
    display: inherit;
  }

  .column-desktop-1 {
    grid-column: span 1;
  }

  .column-desktop-2 {
    grid-column: span 2;
  }

  .column-desktop-3 {
    grid-column: span 3;
  }

  .column-desktop-4 {
    grid-column: span 4;
  }

  .column-desktop-5 {
    grid-column: span 5;
  }

  .column-desktop-6 {
    grid-column: span 6;
  }
}
